<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- <h1>hello, Django</h1>
    <p>django是一个基于python的web框架</p> -->
    <!-- <form action="/index/" method="post">
        {% csrf_token %}
        用户名：<input type="text" name="user" id="">
        密码：<input type="password" name="pwd" id="">
        <input type="submit" value="提交">
    </form> -->
    {% if user_list %}
        <ul>
            {% for user, pwd in user_list%}
            <li>{{user}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>当前网站没有用户注册</p>
    {% endif %}
</body>
</html>